{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div id="web_bg" style="background-image: url(/static/img/white_bg.jpg);"></div>
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="intro">
        <p class="content"></p>
            <span class style>
                <div class="prompt">
                    <div class="question">
                        <span class="question-title"><b>Hello, what's your question?</b></span>
                    </div>
                    <form action="" method="post" name="submit_qst" novalidate>
                    <input class="width-dynamic input" spellcheck="false" id="introduction-input" name="nl-question" style="width: 20px; min-width: 604px;">
                    </form>
                        <div class="tip">
                    </div>
                </div>
                <div class="buttons"></div>
		</span>
    </div>
				{% if sql %}
		
	<div style="position:absolute;top:40%;font-size:150%;">
		<p><b>Your question</b>: {{ question }}</p>
      <p><b>Database/Table ID</b>: {{ db_id }}</p>
	  <p><b>Execute sql</b>: {{ sql }}</p>
        <table class="table table-striped table-hover">
            <caption>Execute result</caption>
			<div>
            <thead>
            <tr>
                {% for data in header %}
                <th>{{ data }}</th>
                {% endfor %}
            </tr>
			</thead>
        <tbody>
        {% for datas in result %}
            <tr>
                {% for data in datas %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
		</div>
	</div>
		{% endif %}
            
</div>
   
{%- endblock %}